* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif
}

footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 30px 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #212121;
    
}

footer .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    width: 83vw;
    width: 100%;
    padding-right: 15px;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
    padding-top: 20px;
}

footer .container .sec {
    margin-right: 30px
}

footer .container .aboutus {
    width: 40%;
    color: #dbdbdb
}

footer .container .sec h2 {
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px
}

footer .container .sec h2:before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 1.5px;
    background: #aaaaaa
}

footer .container .sec p {
    color: #cee0e4
}

footer .sci {
    margin-top: 20px;
    display: flex
}

footer .sci li {
    list-style: none
}

footer .sci li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #2c2c2c;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px
}

footer .sci li a:hover {
    background: #9b9b9b
}

footer .sci li a .fa {
    color: #fff;
    font-size: 20px
}

footer .quicklinks {
    position: relative;
    width: 25%
}

footer .quicklinks ul {
    padding-left: 0
}

footer .quicklinks ul li {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start
}

footer .quicklinks ul li a {
    color: #e3e4e4;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block
}

footer .contact {
    width: calc(35% - 60px);
    margin-right: 0 !important;
    display: flex;
    flex-direction: column;
    color: #dedede
}

footer .contact a {
    text-decoration: none;
    color: #dddedf
}

footer .contact .info {
    position: relative;
    list-style: none
}

footer .contact .info li span:nth-child(1) {
    color: #fff;
    font-size: 20px;
    margin-right: 10px
}

footer .contact .info li span {
    color: #cee0e4
}

footer .contact .info li span a {
    color: #e3e3e3;
    text-decoration: none
}

footer .copyrightText {
    width: 100%;
    background: #212121;
    padding: 8px 100px;
    text-align: center;
    color: #d2dddd
}

footer .copyrightText p {
    margin: 0;
    margin-bottom: 5px
}

footer{
    display: flex;
    justify-content: center !important;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: flex;
    justify-content: center;
}

footer {
    padding-bottom: 0
}

@media (max-width:991px) {
    footer {
        padding: 18px;
        padding-bottom: 0
    }

    footer .container {
        flex-direction: column
    }

    footer .container .sec {
        margin-right: 0;
        margin-bottom: 40px
    }

    footer .contactus,
    footer .container .sec,
    footer .quicklinks {
        width: 100%
    }

    footer .copyrightText {
        width: 100%;
        padding: 8px 4px;
        text-align: center;
        color: #cee0e4
    }

    footer .footer .sec .contact {
        margin-bottom: 0 !important
    }
}